@import "normalize.css"

azul = #336699;

body
	background -moz-linear-gradient(center top , #1E5799 0%, #2989D8 50%, #7DB9E8 100%) repeat-x scroll 0 0 #7DB9E8/*FF*/
	background: -webkit-linear-gradient(top , #1E5799 0%, #2989D8 50%, #7DB9E8 100%) repeat-x scroll 0 0 #7DB9E8/*CH*/

input
	color azul
	padding 5px


input[type='button']
	background none repeat scroll 0 0 #1E5799
	border none
	color white
	font-size 15px
	padding 7px
	&:hover
		background none repeat scroll 0 0 azul

.container
	margin 0 auto
	position relative
	width 960px

.hero-unit
	h1
		color white
	p
		color white

.inputs-wrapper,.comment
	background none repeat scroll 0 0 white
	color #000000
	float left
	margin 0 0 10px
	padding 10px
	width 98%

footer
	p
		color white

#send
	margin: 0 0 0 93%;


#input-comment {
    background: none repeat scroll 0 0 #F2F2F2;
    border-width: 0;
    color: #336699;
    font-size: 14px;
    height: 34px;
    margin: 0 0 10px;
    outline: medium none;
    padding: 5px;
    resize: none;
    vertical-align: bottom;
    width: 99%;
}

.comment img {
    float: left;
    height: 50px;
    margin: 0 10px 0 0;
    width: 50px;
}
.comment p{
    color: #3B5998;
    display: block
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    width: 875px;
}
.comment span{
    color: #666666;
    display: block
    float: left;
    font-size: 13px;
    margin: 0;
    width: 875px;
}

